<!DOCTYPE html>
<html lang = "en-US">
 <head>
 <meta charset = "UTF-8">
 <link rel = "stylesheet"
   type = "text/css"
   href = "audi.css" />
 </head>
 <body>
 <h1>welcome to audi page!!!</h1>
 <p>

 </p>
 </body>
</html>
<body>
<h3><%= link_to "A3", audi_path %></h3>
<h3><%= link_to "A4", audi_path %></h3>
<h3><%=link_to "A7", audi_path %></h3>
<h3><%=link_to "A8", audi_path %></h3>
</body>
