<h1>welcome to mercedes page</h1>

<h3><%= link_to "C Class", audi_path %></h3>
<h3><%= link_to "E Class", audi_path %></h3>
<h3><%=link_to "G Class", audi_path %></h3>
<h3><%=link_to "S Class", audi_path %></h3>
